:root {

    --font-base: 'Open Sans', sans-serif;

    --size-base: 10px;
    --size-xsmall: 1rem;
    --size-small: 1.4rem;
    --size-medium: 1.6rem;
    --size-large: 2rem;
    --size-xlarge: 2.4rem;

    --color-zero: #ffffff;
    --color-one: #2E2D2C;
    --color-one-light: rgba(46, 45, 44, 0.4);
    --color-two: #3570B2;
    --color-three: #ABABAB;
    --color-four: #D5D5D5;
    --color-five: #C4C8CC;
    --color-six: #403D70;
    --color-seven: #EBF0F5;
    --color-eight: #5A5789;
    --color-nine: #2D2C45;
    --color-ten: #F3F3F3;
    --color-eleven: #E65562;
    --color-twelve-light: rgba(115, 230, 203, 0.8);
    --color-thirteen-light: rgba(0, 0, 0, 0.161);
    --color-fourteen: #00B98E;
    --color-fifteen: #008768;
    --color-sixteen: #262423; 
}

html, body {
    font-family: var(--font-base);
    font-size: var(--size-base);
    background-color: var(--color-ten);
}

.banner {
    background: url('../images/banner.png') no-repeat center var(--color-sixteen);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.banner > .wrapper {
    max-width: 1002px;
    width: 100%;
    margin-top: 40px;
}

.apply {
    padding-bottom: 30px;
}

.apply > .wrapper {
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.apply .box-form {
    background-color: var(--color-zero);
    max-width: 486px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 2px var(--color-one-light);
    margin-right: 30px;
}

.box-form .title {
    font-size: var(--size-xlarge);
    font-weight: bold;
    color: var(--color-one);
    margin-bottom: 20px;
}

.box-form .description {
    font-size: var(--size-small);
    color: var(--color-one);
    line-height: 20px;
    margin-bottom: 30px;
}

.box-form .data {
    font-size: var(--size-medium);
    font-weight: bold;
    color: var(--color-one);
    margin-bottom: 20px;
}

.apply-form .field {
    margin-bottom: 20px;
}

.apply-form .field > label {
    display: block;
    font-size: var(--size-small);
    color: var(--color-one);
    margin-bottom: 6px;
}

.apply-form .field .required {
    color: var(--color-eleven);
}

.apply-form .field > input {
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--color-three);
    border-radius: 2px;
}

.apply-form .field > input::placeholder {
    color: var(--color-four);
}

.apply-form .field > input:focus {
    border: 2px solid var(--color-two);
    outline: none;
}

.apply-form .group-field > .field {
    max-width: 142px;
    width: 100%;
    display: inline-block;
}

.apply-form .group-field > .field:not(:last-of-type) {
    margin-right: 30px;
}

.apply-form .submit {
    background-color: var(--color-two);
    padding: 8px 20px;
    border: 1px solid var(--color-two);
    border-radius: 20px;
    box-shadow: 0 3px 6px var(--color-one-light);
    font-family: inherit;
    font-size: var(--size-medium);
    font-weight: 600;
    color: var(--color-zero);
    cursor: pointer;
}

.apply-form .submit:focus {
    border: 1px solid var(--color-two);
    outline: none;
}

.apply .box-infos {
    background-color: var(--color-seven);
    max-width: 486px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--color-five);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-infos .title {
    font-size: var(--size-large);
    font-weight: bold;
    color: var(--color-six);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.box-infos .description {
    font-size: var(--size-small);
    font-style: italic;
    color: var(--color-three);
    line-height: 20px;
}

.project-gallery > .subtitle {
    font-size: var(--size-medium);
    font-weight: 600;
    color: var(--color-one);
}

.footer {
    padding: 22px 0;
    text-align: center;
    border-radius: 4px;
    background: transparent linear-gradient(116deg, var(--color-eight) 0%, var(--color-nine) 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer > .copy {
    font-size: var(--size-small);
    font-weight: bold;
    color: var(--color-zero);
}

@media (max-width: 576px) {
    .banner {
        background-size: cover;
        background-position: left;
        height: 130px;
    }

    .banner > .wrapper {
        margin-top: 30px;
    }

    .banner .logo {
        max-width: 57px;
    }

    .apply > .wrapper {
        margin-top: -25px;
        padding: 0 20px;
    }

    .apply .box-form {
        padding: 20px;
    }

    .apply-form .group-field > .field {
        max-width: 100%;
    }
    
    .apply-form .group-field > .field:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}